# App Configurations
appname: 'analytics'
data_path: 'data/test.csv'
data_headers: true

# Database configurations
redisdb:
  host: 'localhost'
  port: '6379'
  db: 1

# Constants configurations
recent_data_count: 1
color_data_count: 10

required_columns: ['id', 'brand', 'colors', 'dateAdded', 'dateUpdated']